<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Vue</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Top</a></li>
        <li>
          <span>Basic</span>
          <ul>
            <li><a href="/basic">/</a></li>
            <li><a href="/basic/conditional.html">Conditional rendering</a></li>
            <li><a href="/basic/list.html">List rendering</a></li>
            <li><a href="/basic/class.html">Class &amp; Style</a></li>
            <li><a href="/basic/model.html">Model</a></li>
            <li><a href="/basic/components.html">Components</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div id="app">
      <div v-html="heading"></div>
      <div>
        <span>todo list</span>
        <ul v-bind:style="{ listStyleType: 'none', paddingLeft: 0 }">
          <li v-for="(item, index) in concatedItems">
            <input v-bind:id="'item' + index" v-bind:key="index" type="checkbox">
            <label v-bind:for="'item' + index">{{item.name}}</label>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li v-for="(value, key, index) in obj" :key="index">
            {{index}}.{{key}}: {{value}}
          </li>
        </ul>
      </div>
      <div>Even Numbers: {{evenNumbers}}</div>
      <div>[
        <span v-for="n in 20">{{n}}, </span>]
      </div>
      <div>
        <!-- v-for は v-if より優先度が高い -->
        <template v-for="n in 10" v-if="n % 2 === 0">
          <input :id="n" type="checkbox">
          <label :for="n">I am number {{n}}!</label>
        </template>
      </div>
    </div>

    <div id="todo-list">
      <h1>{{title}}</h1>
      <div>
        <input v-model="newTodoText" @keyup.enter="addNewTodo" type="text" placeholder="Add a todo">
        <ul>
          <li
            is="todo-item"
            v-for="(todo, index) in todos"
            :title="todo.title"
            :key="todo.id"
            :number="todo.id"
            @remove="todos.splice(index, 1)"
            @reverse="todo.title = todo.title.split('').reverse().join('')"
          ></li>
        </ul>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>

    <script>
    const vm = new Vue({
      el: '#app',
      data: {
        heading: '<h1>List Rendering</h1>',
        items: [
          { name: 'do my best' },
          { name: 'wo wo wo' },
          { name: 'that is right'}
        ],
        obj: {
          firstName: 'Sota',
          lastName: 'Suzuki',
          age: 31
        },
        numbers: [1, 2, 3, 4, 5, 6]
      },
      methods: {
        concat (array, name) {
          return array.concat([{'name': name}])
        }
      },
      computed: {
        concatedItems () {
          return this.concat(this.items, 'way')
        },
        evenNumbers () {
          return this.numbers.filter(num => num % 2 === 0)
        }
      }
    })

    // somInstance.$set は Vue.set のエイリアス
    vm.$set(vm.items, 0, { name: 'do your best' })
    vm.items.splice(2, 1, { name: 'that is wrong' })

    vm.$set(vm.obj, 'address', 'Fukuoka')
    vm.obj = Object.assign({}, vm.obj, {
      email: 'hogehoge@hoge',
      favorite: 'walking'
    })

    const TodoItem = {
      template: `
      <li>
        {{number}}. {{title}}
        <button @click="$emit('remove')">Delete</button>
        <button @click="$emit('reverse')">Reverse</button>
      </li>
      `,
      props: {
        title: String,
        number: Number
      }
    }

    const vmTodo = new Vue({
      el: '#todo-list',
      components: {
        'todo-item': TodoItem
      },
      data: {
        title: 'TODO LIST',
        todos: [
          { id: 1, title: 'Take out the trash' },
          { id: 2, title: 'Flush the toilet' },
          { id: 3, title: 'Do the dishes' },
        ],
        newTodoText: '',
        nextTodoId: 4
      },
      methods: {
        addNewTodo () {
          this.todos.push({ id: this.nextTodoId++, title: this.newTodoText })
          this.newTodoText = ''
        }
      }
    })

    </script>
  </body>
</html>
